body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

#db table {
    width: 100%;
}

.active {
    background-color: yellow;
    transition: background-color 0.5s;
}

tr.highlight {
    background-color: #ffe08a;
}