body {
    background-color: lightgrey;
    color: darkcyan;
}

#header {
    display: flex;
    align-items: center;  /* vertikal zentrieren */
    gap: 15px;            /* Abstand zwischen Logo und Headline */
    padding: 10px 20px;   /* optional, innen Abstand */
}

#headline {
    font-size: 24px; /* Haupttextgröße */
    font-weight: bold;
    text-align: center;
}

#subheadline {
    font-size: 50%; /* halbe Schriftgröße des Elterntexts */
    font-weight: normal;
    text-align: center;
    color: #666; /* optional etwas dezenter */
}

.logo {
    width: 150px;      /* z.B. feste Breite */
    height: auto;      /* Höhe proportional */
    
    margin: 10px auto; /* zentrieren */
}



.active { 
    background-color: yellow; 
    transition: background-color 0.5s; 
}


button {
    padding: 8px 10px; margin: 0; border: none; border-radius: 4px; cursor: pointer; font-size: 0.9em;
}

#unknown { 
    position: fixed; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    background: red; 
    color: white; 
    font-weight: bold; 
    padding: 10px 20px; 
    border-radius: 5px; 
    display: none; 
    z-index: 1000; 
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 180px;
}

#filamentGrid {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: calc(100% - 40px); /* optional, für sauberes Layout */
}

.tile {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid goldenrod;
    border-radius: 10px;
}

.tile .color {
    width: 20px;
    height: 20px;
    display: block;
    margin: 5px 0;
    
}

.tile.active {
    border-color: orange;
    box-shadow: 0 0 10px orange;
}

.tile.free {
    background-color: #f5f5f5;
    color: #aaa;
}

.tile span {
    display: block;      /* jedes Element bekommt seine eigene Zeile */
    margin: 2px 0;       /* optionaler Abstand */
}



.vendor {
    font-weight: bold; 
}

#style_head_uid, #style_uid, #style_head_led, #style_led {
    display: none;
}

.ws-connected {
    color: green;
    font-weight: bold;
    display: none;
}

.ws-disconnected {
    color: red;
    font-weight: bold;
}